*.esp
*.esm
*.esl
*.bsa
*.ba2
*.pex
*.dll
*.exe
*.7z
*.zip
*.rar
*.bak
logs/
temp/
out/generated/

mod/**/*.esp
mod/**/*.esm
mod/**/*.esl
mod/**/*.bsa
mod/**/*.ba2
mod/**/*.pex
mod/**/*.dll
mod/**/*.exe
mod/**/*.7z
mod/**/*.zip
mod/**/*.rar

